 *{
    padding: 0px;
    box-sizing: content-box;
 }
 .option-menu{
    border: .5px solid;
    
    height: 30px;
   
 }
 .address-contain{
border: .5px solid;
height: 30px;
 
 }
 .cell-contain{
 
 background-color: rgb(245, 131, 222);
 height: 85vh;
 position: relative;
 overflow: auto;
 
 
 }
 .sheets{
  border:  .5px solid;
  height: 30px;
 }
 
 .top-left-cell{
    width: 40px;
    height: 40px;
    border: .5px solid;
    border-top: none;
     
    position: absolute;
     
 }
 .top-row{
   display: flex;
   border: .5px solid;
   border-top: none;
    background-color: #fff;
   position: absolute;
   margin-left: 40px;
 }
 .top-row-cell{
   width: 80px;
   height: 40px;
   border-right: .5px solid;
   border-top:  .5px solid;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .left-column{
    margin-top: 40px;
    background-color: green;
   position: absolute;
 }
 .left-column-cell{
   width: 40px;
   height: 40px;
   border: .5px solid;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .cells{
    position: absolute;
    margin-left: 40px;
    margin-top: 40px;
 }
 .row{
    display: flex;
     
     
 }
 .cell{
    width: 80px;
    height: 40px;
    border-right: .5px solid;
    border-top: .5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 