*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}

.toolBox-cont{
    height: 8rem;
    background-color:#77B6EA;
    display: flex;
    align-items: center;
   
     
}
.toolBoxPriority-cont{
    width: 25rem;
    height: 4rem;
    background-color: #FFFFFF;
    margin-left: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.toolBoxAction-cont{
    width: 16rem;
    height: 4rem;
    background-color: #FC814A;
    margin-left: 4rem;
     
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
     
}
.div1,.div2,.div3,.div4{
    width: 4rem;
    height: 2rem;
}
.div1,.color.yellow,.ticket-color{
   
    background-color: #F5E663;
}
.div2,.color.red{
     
    background-color: #9C3848;
}
.div3,.color.blue{
   
    background-color: #1E3888;
}
.div4,.color.orange{
     
    background-color: #FFAD69;
}
.delete,.add{
    font-size: 2rem;
    cursor: pointer;
}
 .module-cont{
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 25vw;
    top: 25vh;
    background-color: #87BBA2;
    display: none;
     
     
 }
  
 .taskBoxPick-cont{
    width: 30vw;
    background-color: #aceab5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
 }
 textarea{
    width: 70vw;
    height: 50vh;
    color: darkblue;
    border: none;
    resize: none;
    outline: none;
    font-size: 2rem;
    padding: 2rem;
    
    background-color:#bad4e1 ;
    
 }
 .color{
    width: 5rem;
    height: 3rem;
    background-color: #fff;
 }


 .main-cont{
    margin-top: 2rem;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 2rem;

 }

 .ticket-cont{
    width: 15rem;
    height: 10rem;
    background-color: aqua;
     
 }

 .ticket-color{
   height: 1rem;
 }

  .ticket-id{
    height: 1.5rem;
     background-color:lightcoral;
  }
.ticket-area{
    height: calc(100%-1rem-1.5rem);
    padding: 2rem;
    font-size: 1.5rem;

}
