*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #C8E087;
}

.toolBox-cont{
    height: 8rem;
    background-color:#77B6EA;
    display: flex;
    align-items: center;
   
     
}
.toolBoxPriority-cont{
    width: 25rem;
    height: 4rem;
    background-color: #FFFFFF;
    margin-left: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.toolBoxAction-cont{
    width: 16rem;
    height: 4rem;
    background-color: #FFFFFF;
    margin-left: 4rem;
     
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
     
}
 .div{
    width: 4rem;
    height: 2rem;
}
.yellow{
   
    background-color: #F3B61F;
}
.pink{
     
    background-color:#FF10F0;
}
.green{
   
    background-color: #72B01D;
}
.black{
     
    background-color: #0D0A0B;
}
.delete,.add{
    font-size: 2rem;
    cursor: pointer;
}
 .module-cont{
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 25vw;
    top: 25vh;
    background-color: #87BBA2;
    display: none;
     
     
 }
  
 .taskBoxPick-cont{
    width: 30vw;
    background-color: #C9C9C9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
 }
 textarea{
    width: 70vw;
    height: 50vh;
    color: darkblue;
    border: none;
    resize: none;
    outline: none;
    font-size: 2rem;
    padding: 2rem;
    
    background-color:#FFFFFF ;
    
 }
 .color{
    width: 5rem;
    height: 3rem;
   
 }
.active{
    border: .2rem solid #FFFFFF ;
}

 .main-cont{
    margin-top: 2rem;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 2rem;

 }

 .ticket-cont{
    width: 15rem;
    height: 10rem;
    background-color: #FFFFFF;
     
 }

 .ticket-color{
   height: 1rem;
 }

  .ticket-id{
    height: 1.5rem;
     
  }
.ticket-area{
    height: calc(100%-1rem-1.5rem);
    padding: 2rem;
    font-size: 1.5rem;
    word-wrap: break-word;

}
